<div class="container">
    <div class="card mb-2" *ngFor="let sentence of sentences">
        <div class="card-body">
            <p class="card-title font-weight-bold">
                {{sentence.japanese}}
            </p>
            <p>
                {{sentence.english}}
            </p>
            <hr>
            <span class="mr-2">
                        Kanjis:
                <a href="/" class="btn btn-outline-secondary mr-1" *ngFor="let kanji of sentence.kanjis">{{kanji}}</a>
                    </span>
        </div>
    </div>
</div>



