<div class="container mb-3">
    <div class="card bg-dark text-white">
        <img src="/assets/img/bady-qb-312708-unsplash.jpg" alt="header image" class="card-img">
        <div class="card-img-overlay">
            <h1 class="card-title">{{title}}</h1>
            <p class="card-text">{{subtitle}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div *ngIf="showKanji">
        <div class="row">
            <div class="col-9">
                <div class="alert alert-primary">
                    filtered by kanji: {{filterKanji}}
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-secondary showAll" (click)="showAll()">
                    Show all
                </div>
            </div>
        </div>
    </div>
    <app-sentence [sentenceList]="sentenceList" (kanjiFilterEvent)="handleKanjiFilter($event)"></app-sentence>
</div>



